
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Dependencies
node_modules/

# Allure Reports
allure-results/
allure-report/

# Environment File
.env